<font size = 6, color = "cyan"><b> Independent Project I </b></font>

<font size = 5, color = "pink"><b> HR Analytics: Employee Attrition </b></font>

<em><u>This project comprises two parts:</em></u>

_1. Dashboard Visualization using Microsoft Power BI_

_2. Statistical Insights & Predictions Using Machine Learning_

<font size = 4, color = "gold"><b> About the Dataset </b></font>
* The dataset titled [IBM HR Analytics Employee Attrition & Performance](https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset/data) was obtained through Kaggle
* It's a fictional dataset containing <u>1470 records and 35 attributes</u> (e.g., job satisfaction, job role, education, performance rating, years with current manager, etc.) with the <u>class being Attrition</u> (Yes/No Binary Variable)

<font size = 4, color = "gold"><b> Data Cleaning </b></font>
* All data cleaning was done using Microsoft Excel

<u>Steps:</u>

1. Spell Checking --> no spelling errors
2. Checking for Blanks --> no blanks
3. Checking for Duplicate Rows --> no duplicate rows
4. Dealing With Inconsistencies (trimming whitespaces)

Not much data cleaning had to be done, which is kind of expected given that this was synthetic data prepared for research purposes :)

_I should find myself a real dataset to do some data cleaning_

<font size = 4, color = "gold"><b> Data Preprocessing </b></font>

In [1]:
import pandas as pd
import numpy as np

In [64]:
dataset_file_path = r'C:\Users\user\OneDrive\Desktop\Post-Grad Stuff\Analytics Practice\Datasets (Original Format)\hr_employee_attrition_dataset.csv'

# normally, I would just pass the filepath so we can read the dataset into the dataframe
# however, I ran df.info() later and identified 9 categorical variables, so I decided to pass a dtype parameter, assigning them to the dtype 'category' 
# which is a memory-efficient way to store and handle categorical data by assigning each value a unique integer ID to each category
# (note that I checked that all 9 are nominal data)

# you would still need to encode these attributes if you're using models like Linear Regression, Logistic Regression, SVM, KNN, or Neural Networks
# (require numerical input and do not handle 'category' automatically)
# however, if using tree-based models like XGBoost or Random Forest, no need to encode later (they handle category dtype automatically).

dtype_options = {
    'Attrition': 'category', 
    'BusinessTravel': 'category',
    'Department':'category',
    'EducationField':'category',
    'Gender':'category',
    'JobRole':'category',
    'MaritalStatus': 'category',
    'Over18':'category',
    'OverTime':'category'
}

df = pd.read_csv(filepath_or_buffer = dataset_file_path, dtype = dtype_options)

In [ ]:
display(df)                     # displays dataset
df.info()                       # provides insights on non-null count, dtype of each column
df.nunique()                    # shows number of unique values for each column
df.describe().drop('count')     # data summary (count, mean, standard deviation, min, max, and percentiles for each numerical column)

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [ ]:
df.nunique()                        # by running this, we identify three columns with only 1 unique value, which means for all records
                                    # this attribute is the same --> will not benefit us in the study so remove
                                    # these columns are EmployeeCount, Over18, StandardHours

updated_df = df.drop(columns = ['EmployeeCount', 'Over18', 'StandardHours'])

In [75]:
updated_df.select_dtypes(include = ['category']).nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
OverTime          2
dtype: int64

In [111]:
# note the following binary attributes (Gender, OverTime) in addition to, of course, our class 'attrition'
# it wouldn't make sense to one-hot encode attrition as we're trying to predict it
# we can use label/ordinal encoding instead (as well as for our binary variables)
# we will also include BusinessTravel as the order matters (NonTravel, Rarely, Frequently)

from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

label_encoder = LabelEncoder()
ordinal_encoder = OrdinalEncoder()

updated_df['Attrition'] = label_encoder.fit_transform(updated_df['Attrition'])                        # Yes = 1, No = 0
updated_df['BusinessTravel'] = ordinal_encoder.fit_transform(updated_df[['BusinessTravel']])          # Travel_Rarely = 2, Travel_Frequently = 1, Non-Travel = 0
                                                                                                      # unfortunately going alphabetically (tried fixing it but didn't)
updated_df['Gender'] = label_encoder.fit_transform(updated_df['Gender'])
updated_df['OverTime'] = label_encoder.fit_transform(updated_df['OverTime'])

In [ ]:
# apply One Hot Encoding (dummy vars) for the remaining nominal attributes
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output = False) 
# OneHotEncoder returns a sparse matrix by default, which can cause issues when passing it to pd.DataFrame(), hence, convert to a dense array

nominal_cols = ['Department', 'EducationField', 'JobRole', 'MaritalStatus']
one_hot_encoded = encoder.fit_transform(updated_df[nominal_cols])

# now convert to dataframe and join with the original dataframe (while also removing the original cols since now you have the encoded ones)
one_hot_encoded_df = pd.DataFrame(data = one_hot_encoded, columns = encoder.get_feature_names_out(nominal_cols))
encoded_df = pd.concat(objs = [updated_df.drop(nominal_cols, axis = 1), one_hot_encoded_df], axis = 1)

display(encoded_df)         # we now have 49 columns

,Age,Attrition,BusinessTravel,DailyRate,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,41,1,2.0,1102,1,2,1,2,0,94,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,49,0,1.0,279,8,1,2,3,1,61,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,37,1,2.0,1373,2,2,4,4,1,92,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,33,0,1.0,1392,3,4,5,4,0,56,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,27,0,2.0,591,2,1,7,1,1,40,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,0,1.0,884,23,2,2061,3,1,41,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1466,39,0,2.0,613,6,1,2062,4,1,42,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1467,27,0,2.0,155,4,3,2064,2,1,87,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1468,49,0,1.0,1023,2,3,2065,4,1,63,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1469,34,0,2.0,628,8,3,2068,2,1,82,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

<font size = 4, color = "gold"><b> II. Statistical Insights & Predictions Using Machine Learning </b></font>

<font size = 4, color = "green"><b> Statistical Insights </b></font>

<font size = 4, color = "green"><em>We want to obtain information on the R-square, ANOVA, coefficients, etc.</em></font>

In [61]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [ ]:
# define the target (y) and x (rest of attributes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 49 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   int64
 1   Attrition                          1470 non-null   int64
 2   BusinessTravel                     1470 non-null   float64
 3   DailyRate                          1470 non-null   int64
 4   DistanceFromHome                   1470 non-null   int64
 5   Education                          1470 non-null   int64
 6   EmployeeNumber                     1470 non-null   int64
 7   EnvironmentSatisfaction            1470 non-null   int64
 8   Gender                             1470 non-null   int64
 9   HourlyRate                         1470 non-null   int64
 10  JobInvolvement                     1470 non-null   int64
 11  JobLevel                           1470 non-null   int64
 12  JobSatisfaction                    1470 non-null   int64
 13  MonthlyIncome                      1470 non-null   int64
 14  MonthlyRate                        1470 non-null   int64
 15  NumCompaniesWorked                 1470 non-null   int64
 16  OverTime                           1470 non-null   int64
 17  PercentSalaryHike                  1470 non-null   int64
 18  PerformanceRating                  1470 non-null   int64
 19  RelationshipSatisfaction           1470 non-null   int64
 20  StockOptionLevel                   1470 non-null   int64
 21  TotalWorkingYears                  1470 non-null   int64
 22  TrainingTimesLastYear              1470 non-null   int64
 23  WorkLifeBalance                    1470 non-null   int64
 24  YearsAtCompany                     1470 non-null   int64
 25  YearsInCurrentRole                 1470 non-null   int64
 26  YearsSinceLastPromotion            1470 non-null   int64
 27  YearsWithCurrManager               1470 non-null   int64
 28  Department_Human Resources         1470 non-null   float64
 29  Department_Research & Development  1470 non-null   float64
 30  Department_Sales                   1470 non-null   float64
 31  EducationField_Human Resources     1470 non-null   float64
 32  EducationField_Life Sciences       1470 non-null   float64
 33  EducationField_Marketing           1470 non-null   float64
 34  EducationField_Medical             1470 non-null   float64
 35  EducationField_Other               1470 non-null   float64
 36  EducationField_Technical Degree    1470 non-null   float64
 37  JobRole_Healthcare Representative  1470 non-null   float64
 38  JobRole_Human Resources            1470 non-null   float64
 39  JobRole_Laboratory Technician      1470 non-null   float64
 40  JobRole_Manager                    1470 non-null   float64
 41  JobRole_Manufacturing Director     1470 non-null   float64
 42  JobRole_Research Director          1470 non-null   float64
 43  JobRole_Research Scientist         1470 non-null   float64
 44  JobRole_Sales Executive            1470 non-null   float64
 45  JobRole_Sales Representative       1470 non-null   float64
 46  MaritalStatus_Divorced             1470 non-null   float64
 47  MaritalStatus_Married              1470 non-null   float64
 48  MaritalStatus_Single               1470 non-null   float64
dtypes: float64(22), int64(27)
memory usage: 562.9 KB